[Unit]
Description=apodwallpaper - Script to set the APOD image as wallpaper
Documentation=https://github.com/baual/apod-wallpaper

[Service]
Type=oneshot
ExecStart=

[Install]
WantedBy=default.target
