# https://doc.ubuntu-fr.org/creer_un_service_avec_systemd
# voir fichier service.readme.md

[Unit]
Description=apodwallpaper - Script to set the APOD image as wallpaper
Documentation=https://github.com/baual/apod-wallpaper
After=network-online.target
Wants=network-online.target
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=

[Install]
WantedBy=graphical-session.target
